body {
	margin: 0px;
	background-color: #f2f2f2;
	font-family: sans-serif;
}

#nama {
	font-size: 40px;
	margin: 0;
	font-weight: bold;
	color: rgb(33, 136, 56);;
}

#pekerjaan {
	font-size: 20px;
	color: rgb(117, 117, 117);;
}

.tentang {
	padding: 33px 33px 22px;
	margin-top: -250px;
	margin-bottom: 75px;
}

.photo-profile img{
	display: block;
	width: 100%;
	box-shadow: 0 0 5px rgba(0,0,0,.4);
}

.header-background {
	position: relative;

	display: block;

	width: 100%;

	height: 370px;

	background-color: rgb(33, 136, 56);;

	background-size: cover;

	background-position: center center;

	background-attachment: fixed;
}

.btn {
	color: white !important;
}

.medsos {
	text-align: center;
	margin-top: 25px;
}